@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 400px;
    z-index: 100000;

}
header.sticky{
    padding: 3px 100px;
    background: #fff;


}
header .logo{
    position: relative;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    color: rgb(228, 25, 25);
    font-family: 'Shadows Into Light', cursive;
    transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
    padding-top: 15px;
    font-size: large;
}
header ul li a{
    
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    transition: 0.6s;
    font-weight: 700;
}
.banner{
    position: relative;
    width: 100%;
    height: 120px;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
}
.img-first,
.p-first{
    width: 600px;
    height: 500px;
}
.p-first{
    padding-left: 80px;
    padding-right: 50px;
    font-size: large;
    padding-top: 100px;
}
.img-first{
    padding-right: 50px;
}

.container-connect{
    height: 450px;
}
.h2-title{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 60px;
}
.h4-title{
    margin-top: 10px;
    text-align: center;
}
.box-todo{
    margin: auto;
    width: 800px;
    height: 300px;
}
.img-todo{
    width:400;
    height: 200px;
}
.span-title{
    color: rgb(57, 57, 221);
    font-weight: bolder;
}
.box-card{
    height: 500px;
}
.contact-box{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.text-left{
    width: 300px;
    margin-bottom: 40px;
}
.box-modal{
    position: relative;
    z-index: 1000000;
}